{% extends ('base.html.twig') %}
{% block stylesheets %}
    {{ encore_entry_link_tags('profil') }}
{% endblock %}

{% block title %}Les Clichés de Zozo{% endblock %}

{% block body %}
<main>

    <h3>{{controller_name}}</h3>

        <section>

            <div class="carte_presta">
                <h4>Portrait animalier</h4>
                    <p>Lorem lorem lorem lorem lorem lorem jsbnk qisck jsnk,nd sjdjskjd jdnjqi djqd, d dbjnqdudjnj 
Lorem lorem lorem lorem lorem lorem jsbnk qisck jsnk,nd sjdjskjd jdnjqi djqd, d dbjnqdudjnj 
Lorem lorem lorem lorem lorem lorem jsbnk qisck jsnk,nd sjdjskjd jdnjqi djqd, d dbjnqdudjnj </p>
                    <p><strong>100 euros</strong></p>
            </div>


            <div class="carte_presta">
                <h4>En mouvement</h4>
                    <p>Lorem lorem lorem lorem lorem lorem jsbnk qisck jsnk,nd sjdjskjd jdnjqi djqd, d dbjnqdudjnj 
Lorem lorem lorem lorem lorem lorem jsbnk qisck jsnk,nd sjdjskjd jdnjqi djqd, d dbjnqdudjnj 
Lorem lorem lorem lorem lorem lorem jsbnk qisck jsnk,nd sjdjskjd jdnjqi djqd, d dbjnqdudjnj </p>
                    <p><strong>80 euros</strong></p>
            </div>


            <div class="carte_presta">
                <h4>Personnalisé</h4>
                    <p>Lorem lorem lorem lorem lorem lorem jsbnk qisck jsnk,nd sjdjskjd jdnjqi djqd, d dbjnqdudjnj 
Lorem lorem lorem lorem lorem lorem jsbnk qisck jsnk,nd sjdjskjd jdnjqi djqd, d dbjnqdudjnj 
Lorem lorem lorem lorem lorem lorem jsbnk qisck jsnk,nd sjdjskjd jdnjqi djqd, d dbjnqdudjnj </p>
                    <p><strong>A la demande</strong></p>
            </div>

        </section>

</main>

{% endblock %}
