{% extends 'base.html.twig' %}

{% block title %}
	{{about_name}}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('about') }}
{% endblock %}
{% block body %}

	<main>
		<h3>{{about_name}}</h3>
		<section class="presentation_moi">
			<article>
				<p>Moi ?</p>
				<p>Zoé, 23 ans, passionnée de photographie depuis plusieurs années.
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates minima optio itaque sed quod a non aliquid, harum excepturi. Vel officiis porro dolor dolorem placeat sunt ducimus magnam provident delectus.
          Explicabo, non quo! Nihil ratione inventore eos nisi blanditiis odio suscipit laborum est reiciendis aperiam quo fugit facilis magni deleniti, commodi, optio numquam accusantium perspiciatis architecto ad ipsum atque omnis?
          Repudiandae deleniti perspiciatis magni impedit amet suscipit aperiam eligendi doloremque deserunt debitis reiciendis voluptatum dicta voluptatem excepturi architecto facere natus, incidunt ad eveniet minus sit nobis? Animi ullam fugit quisquam.
          Sequi architecto incidunt non numquam ad atque error temporibus ea itaque reprehenderit! Quas, pariatur cumque nihil modi sunt dignissimos consectetur sapiente minus animi sint, laudantium deleniti? Cum praesentium in illum.
          Excepturi rem maiores eveniet suscipit reprehenderit aliquid pariatur ratione exercitationem voluptates odio corporis omnis quae, accusamus dolores neque. Aut id reprehenderit neque, provident dolorem dolores consequuntur. Consectetur accusantium ex nam?</p>

			</article>
			<article>
				<p>Vivant à la campagne depuis toute petite, j'ai toujours aimer photographier les animaux ou les beaux paysages.
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nulla doloremque, asperiores natus quis dolores ex aliquam at est harum totam excepturi voluptatem unde non et, odio ipsa repellendus id?
          Voluptatibus, maxime aperiam officiis recusandae dolor facilis nulla, commodi ipsa sunt quis quibusdam! Qui voluptatum illum ullam harum fuga impedit dolor ratione quas. Ea impedit illum consequuntur non eaque sequi.
          Consequatur sequi nulla voluptatibus impedit eaque ab esse, est nesciunt molestias blanditiis illo? Reiciendis, expedita. Iste, veritatis molestiae eos tempore fugiat nulla, ex a alias nihil aliquam autem id? Voluptatibus.
          Nulla eum praesentium nobis, dolorem a asperiores atque dolore corporis, reprehenderit dignissimos cupiditate optio culpa debitis inventore officiis suscipit perferendis, labore quae ipsam quisquam ut. Officia accusantium molestiae inventore non.
          Porro tempore magnam natus facilis ab ullam unde odio nesciunt accusantium amet dolores quos ducimus nostrum qui consequatur sit molestiae, autem aliquam nulla iste! Voluptatum, architecto. Quas ab mollitia nisi.

				</p>
			</article>
		</section>
		<section class="formulaire_contact">
			<h3>CONTACT</h3>
			<article class="formulaire_about">
      
				<div>
					<label for="name">Nom</label>
					<input type="text" id="name" name="user_name">
				</div>
				<div>
					<label for="firstname">Prénom</label>
					<input type="text" id="firstname">
				</div>
				<div>
					<label for="mail">E-mail</label>
					<input type="email" id="mail" name="user_mail">
				</div>
				<div>
					<label for="msg">Message</label>
					<textarea id="msg" name="user_message"></textarea>
				</div>
			</article>
		</section>
	</main>

{% endblock %}
