main {
  background-color: rgb(72, 72, 72);
  padding: 2%;
}

main > h3 {
  text-align: center;
  font-size: 2rem;
  font-family: "Grape Nuts", sans-serif;
  color: whitesmoke;
}

main > section {
  margin: 0;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.carte_image {
  background-color: whitesmoke;
  width: 150px;
  height: 200px;
  margin: 30px;
}
