
main > section {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.carte_image {
  background-color: rgb(227 135 135 / 52%);
  width: auto;
  height: 250px;
  margin: 20px;
  border-radius: 5px;
  padding: 5px;
}

.img_carte {
  width: 350px;
  height: 250px;
  border-radius: 5px;
}


