main > section {
  padding: 0;
  margin: 0;
}

.prestation_cartes{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.carte_presta {
  background-color: whitesmoke;
  padding: 15px;
  margin: 30px 150px;
  border-radius: 5px;
  text-align: center;
  width: 60%;
}

.carte_presta > h4 {
  letter-spacing: 2px;
  font-size: 1.7rem;
  margin: 0;
  padding: 10px;
}

.carte_presta > p {
  padding: 5px;
  margin: 0;
}

strong {
  color: grey;
}
