main {
  background-color: rgb(72, 72, 72);
  padding: 2%;
}

main > h3 {
  text-align: center;
  font-size: 2rem;
  font-family: "Grape Nuts", sans-serif;
  color: whitesmoke;
}

.carte_presta {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px 100px;
  border-radius: 5px;
  text-align: center;
}

.carte_presta:hover {
  background-color: rgba(128, 128, 128, 0.258);
}

.carte_presta > h4 {
  text-decoration: underline 1px solid grey;
  letter-spacing: 2px;
}

.carte_presta > h4:hover {
  text-decoration: underline 1px solid whitesmoke;
}
