{% extends 'base.html.twig' %} 

{% block title %}Les Clichés de Zozo{% endblock %}
  
{% block stylesheets %}
      {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
<main class="background_main">
<p> Bienvenue </p>
</main

{% endblock %}
