{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{# {% block stylesheets %}
      {{ encore_entry_link_tags('portfolio') }}
{% endblock %} #}

{% block body %}

<main> 

<h3> Mon portfolio </h3>

</main>

{% endblock %}
