{% extends 'base.html.twig' %}

{% block title %}
	{{page_name}}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('portfolio') }}
{% endblock %}

{% block body %}

	<main>
		<h3>{{page_name}}</h3>

		<section>
			{# Boucle, expression logique for pour affichage des images #}
			{% for i in 0..7 %}
				<div class="carte_image">
					<img src={{asset('website/images/pougne.jpg')}} alt="image d'un dada qui s'appelle pougne" class="img_carte">
				</div>
			{% endfor %}
		</section>

	</main>

{% endblock %}
