{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{# {% block stylesheets %}
      {{ encore_entry_link_tags('portfolio') }}
{% endblock %} #}

{% block body %}

      <main> 
            <h3>{{controller_name}}</h3>
      </main>

{% endblock %}
